.cart-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 28%;
  height: fit-content;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.cart-title {
  color: #c66c50;
  font-weight: 600;
  font-size: 23px;
  text-align: left;
}
.empty-cart-msg {
  color: #988a87;
  font-weight: 600;
}
.empty-cart-img-container {
  position: relative;
  width: 121px;
  padding-top: 50%;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 40px;
}
.empty-cart-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
