.cart-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 28%;
  height: fit-content;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.cart-title {
  color: #c66c50;
  font-weight: 600;
  font-size: 23px;
  text-align: left;
  margin-bottom: 26px;
}
.empty-cart-msg {
  color: #988a87;
  font-weight: 600;
}
.empty-cart-img-container {
  position: relative;
  width: 121px;
  padding-top: 50%;
  overflow: hidden;
  border-radius: 8px;
}
.empty-cart-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
}

.cartitem-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
.cartitem-left-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}
.cartitem-title {
  color: #716a67;
  font-size: x-small;
  font-weight: 600;
  margin: 12px 0px;
}
.cartitem-quantity {
  color: #c08778;
  font-size: small;
  font-weight: 600;
  margin-right: 10px;
}
.cartitem-price {
  color: #b2a8a6;
  font-size: x-small;
  font-weight: 400;
  margin-right: 10px;
}
.cartitem-right-section {
    position: relative;
    left: 40%;
    align-self: anchor-center;
}

.cartitem-total-section {
    position: relative;
    margin: 20px 0px;
}

.cartitem-total-amt {
    position: absolute;
    left: 80%;
    font-size: x-large;
    font-weight: 600;
}

.confirm-order-btn {
  cursor: pointer;
  width: 80%;
  padding: 0.7rem 1.4rem;
  text-align: center;
  border-radius: 23px;
  background-color: #C63B0F;
  &.center {
    align-items: center;
    position: relative;
    left:50%;
    transform: translate(-50%);
    width: 90%;
  }
}