.product-card {
  width: 100%;
  margin: 0 auto;
}

.product-image-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-image-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 40px;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
  aspect-ratio: 251/240;
}

.product-card:hover .product-image {
  transform: scale(1.05);
}

.product-category {
  color: #a49995;
  margin-bottom: 8px;
  font-size: x-small;
  font-weight: 600;
}

.product-title {
  color: #6f6461;
  margin-bottom: 8px;
}

.product-price {
  color: #bc7863;
  margin-bottom: 8px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-cart-btn {
  cursor: pointer;
  width: 60%;
  position: absolute;
  padding: 0.7rem 1.4rem;
  text-align: center;
  border-radius: 23px;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, 3%);
  &.filled {
    background-color: #C63B0F;
  }
  &.large {
    width: 80%;
  }
}
.add-to-cart-txt {
  color: #807977;
  font-size: small;
  float: right;
  font-weight: 600;
  margin-left: 10px;
  &.filled {
    color: #ffffff;
    margin-left: 0px;
  }
}
.add-cart-img {
  display: inline;
  width: 18px;
  object-fit: contain;
  float: left;
}